name: xcengine
channels:
  - conda-forge
dependencies:
  # Python
  - python >=3.11
  # Required
  - click
  - docker-py
  - ipython  # Used by nbconvert to transform IPython syntax to pure Python
  - nbconvert
  - nbformat
  - pystac
  - pyyaml >=5.1  # need >=5.1 for sort_keys
  - xarray
  - xcube  # See note below
  # test dependencies
  - cwltool
  - pytest
  - pytest-cov
  - pytz

# Note: xcube is not required for the conversion itself, but is required
# to run generated scripts outside containers ("create" mode). xcube is
# also needed to unit test the supporting code that runs in the container.
